@tailwind base;
@tailwind components;
@tailwind utilities;

body[data-theme='light'] {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
    --header-footer-bg: #f2f2f2;
    --upload-bg: #f2f2f2;
    --upload-shadow: #d1d5db;
}

body[data-theme='dark'] {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --header-footer-bg: #1f2937;
    --upload-bg: #1f2937;
    --upload-shadow: #4b5563;
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

:global(header), :global(footer) {
    background-color: var(--header-footer-bg);
}

:global(label) {
    background-color: var(--upload-bg);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06), 0px 4px 6px -1px var(--upload-shadow), 0px 2px 4px -1px var(--upload-shadow);
}

.fade-enter {
    opacity: 0;
    transition: opacity 300ms;
    transition-delay: 300ms;
}
  
.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms;
    transition-delay: 300ms;
}

.fade-exit {
    opacity: 1;
    transition: opacity 300ms;
}

.fade-exit-active {
    opacity: 0;
}

.progress-bar {
    width: 100%;
    height: 20px;
    border-radius: 20px;
    overflow: hidden;
}
  
.sidebar-enter {
    transform: translateX(-100%);
}

.sidebar-enter-active {
    transform: translateX(0);
    transition: transform 300ms;
}

.sidebar-exit {
    transform: translateX(0);
}

.sidebar-exit-active {
    transform: translateX(-100%);
    transition: transform 300ms;
}

  